<div class="container-fluid">
<div class="row">
  {{# each catalogos}}
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/images/{{this.imagenUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.nombre}}</h5>
        <p class="card-text">Apellido: {{this.descripcion}}</p>
        <p class="card-text">Diccion: {{this.precio}}</p>
        <a href="/update/{{this._id}}" class="btn btn-primary">Modificar</a>
        <a href="/delete/{{this._id}}" class="btn btn-primary">Eliminar</a>
      </div>
    </div>
  </div>

  
  {{/each}}

</div>
</div>


    
